:root {
  --color-dark: #252d33;
  --color-text-secondary: #4b5563;
  --color-gray: #94a9b7;
  --color-line: #d1dce2;
  --color-white: #ffffff;
  --color-light: #f3f7f9;
  --color-accent-dark: #348842;
  --color-primary: #4299e1;
  --color-accent: #40b526;
  --color-final-icon: #3b64a1;

  --text-xs: clamp(0.75rem, 1.17vw, 0.875rem); /* 10.5px → 14px */
  --text-md: clamp(0.938rem, 1.67vw, 1.25rem); /* 15px → 20px */
  --text-lg: clamp(1.125rem, 2vw, 1.5rem); /* 18px → 24px */
  --text-xl: clamp(1.5rem, 2.67vw, 2rem); /* 24px → 32px */
  --text-12: clamp(0.563rem, 1vw, 0.75rem); /* 9px → 12px */
  --text-18: clamp(0.844rem, 1.5vw, 1.125rem); /* 13.5px → 18px */
  --text-30: clamp(1.406rem, 2.5vw, 1.875rem); /* 22.5px → 30px */
  --text-48: clamp(2.25rem, 4vw, 3rem); /* 36px → 48px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 2rem; /* 32px */
  --space-8: 2.5rem; /* 40px */
  --space-9: 3.5rem; /* 56px */

  --rounded-sm: 0.5rem;
  --rounded-md: 0.75rem;
  --rounded-lg: 1rem;
  --rounded-xl: 1.25rem;
  --rounded-full: 9999px;

  --font-regular: 400;
  --font-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video {
  max-width: 100%;
}

/* Layout */
body {
  background-color: var(--color-light);
  font-family: 'Roboto', sans-serif;
  color: var(--color-dark);
  font-weight: var(--font-regular);
}

/* Utility */
.container {
  width: 83%;
  /* 1208 пикселей - максимальная ширина, весь сайт по центру из макета */
  /* max-width: 75.5rem; */
  margin: 0 auto;
}

/* Header */
.header__logo {
  max-width: 7rem;
  height: 2rem;
}

/* Секция Main */
.main {
  background-color: var(--color-primary);
  border-radius: var(--rounded-lg);
  position: relative;
  overflow: hidden;
  color: var(--color-white);
}
.main__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.main__content {
  position: relative;
  z-index: 10;
}
.main__header {
  margin-bottom: var(--space-3);
}
.main__header-icon {
  font-size: var(--text-md);
}
.main__header-text {
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  margin-left: var(--space-2);
}
.main__info {
  margin-bottom: var(--space-4);
}
.main__info-item {
  margin-right: var(--space-3);
  font-size: var(--text-xs);
}
.main__info-icon {
  margin-right: var(--space-1);
}
.main__badge {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: var(--space-1) var(--space-3);
  border-radius: var(--rounded-full);
  font-size: var(--text-xs);
  font-weight: var(--font-bold);
}
.main__title {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-4);
}
.main__buttons {
  margin-bottom: var(--space-3);
}
.main__button {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--rounded-full);
  font-size: var(--text-xs);
  font-weight: var(--font-bold);
  margin-right: var(--space-3);
  border: none;
  cursor: pointer;
}
.main__button--black {
  color: var(--color-white);
  background-color: var(--color-dark);
}
.main__button--icon {
  display: flex;
  align-items: center;
}
.main__button-icon {
  margin-right: var(--space-2);
}
.main__logo {
  position: absolute;
  bottom: var(--space-4);
  right: var(--space-4);
  width: 6rem;
  height: auto;
}

/* Программа курса - course+program */
.course__description {
  font-size: var(--text-18);
  color: var(--color-dark);
  margin-bottom: var(--space-9);
}
.program {
  margin-bottom: var(--space-3);
}
.program__title {
  font-size: var(--text-48);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-6);
}
.program__section {
  margin-bottom: var(--space-8);
}
.program__section-title {
  font-size: var(--text-30);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-6);
  cursor: pointer;
}
.program__section-icon {
  margin-left: var(--space-2);
  transition: all 0.1s ease-in;
  color: var(--color-accent);
}
.program__section-icon--rotated {
  transform: rotate(-180deg);
}
.program__lectures--hidden {
  display: none;
}
.program__lecture {
  position: relative;
  margin-bottom: 52px;
}
.program__lecture::after {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 0;
  right: 0;
  height: 0.0625rem;
  background-color: var(--color-line);
}
.program__lecture-video-container {
  position: relative;
  display: inline-block;
}
.program__lecture-video {
  border-radius: var(--rounded-sm);
  min-width: 7.5rem;
}
.program__lecture-icon {
  font-size: var(--text-lg);
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  color: var(--color-white);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.program__lecture-title {
  font-size: var(--text-18);
  font-weight: var(--font-bold);
}
.program__final {
  border: 0.0625rem solid var(--color-gray);
  padding: var(--space-3);
  border-radius: var(--rounded-xl);
}
.program__final i {
  color: var(--color-final-icon);
}
.program__final-description {
  color: var(--color-gray);
  margin-bottom: 0.75rem;
  font-size: var(--text-12);
}
.program__final-title {
  font-size: var(--text-30);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-3);
}
.program__final-detail {
  margin-bottom: var(--space-2);
}

/* Оплата курса */
.course__payment {
  background-color: var(--color-white);
  border-radius: var(--rounded-md);
  padding: 24px 30px;
  max-width: 20rem;
  width: 100%;
}
.course__payment-heading {
  font-size: var(--text-30);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-3);
}
.course__payment-info {
  font-size: var(--text-18);
  color: var(--color-text-secondary);
  margin-bottom: var(--space-5);
}
.course__payment-link {
  color: var(--color-accent);
  text-decoration: none;
}
.course__payment-price {
  font-size: var(--text-48);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-5);
}
.course__payment-button {
  white-space: nowrap;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: var(--text-18);
  font-weight: var(--font-bold);
  padding: var(--space-3);
  border-radius: var(--rounded-full);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-3);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.course__payment-button:hover {
  background-color: var(--color-accent-dark);
}
.course__payment-button i {
  margin-right: var(--space-2);
}
.course__payment-promo {
  font-size: var(--text-18);
  font-weight: var(--font-bold);
  display: block;
  color: var(--color-accent);
  text-align: center;
  text-decoration: none;
}

/* Спикеры */
.speakers__title {
  margin-bottom: 32px;
}
.speakers__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: var(--space-7);
}
.speakers__card {
  background: var(--color-white);
  padding: var(--space-4);
  border-radius: 1em;
}
.speakers__img {
  margin-bottom: var(--space-2);
}
.speakers__name {
  font-size: var(--text-18);
  font-weight: var(--font-bold);
  margin-bottom: var(--space-2);
}
.speakers__description {
  color: var(--color-gray);
  font-size: var(--text-xs);
  margin-bottom: var(--space-2);
  line-height: 1.375;
}

/* Спонсоры */
.sponsors__title {
  margin-bottom: 34px;
}
.sponsors__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: var(--space-7);
}
.sponsors__card {
  display: grid;
  place-items: center;
}
.sponsors__logo {
  border-radius: 1.5625rem;
  width: 100%;
}

/* Партнеры */
.partners__title {
  margin-bottom: 24px;
}
.partners__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: var(--space-7);
}
.partners__card {
  background: var(--color-white);
  padding: var(--space-3) 2rem;
  display: grid;
  place-items: center;
}

@media (min-width: 48rem) {
  .course-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--space-4);
  }
  .course__content {
    width: 65%;
  }
  .course__payment {
    width: 45%;
  }
  .program__lecture {
    display: flex;
    gap: var(--space-4);
    align-items: center;
  }
  .program__final-detail {
    font-size: var(--text-18);
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
  .program__final-details {
    display: flex;
    align-items: center;
    gap: var(--space-3);
  }
}

@media (min-width: 64rem) {
  .speakers__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
  }
}
