/* CSS сброс "Modern CSS Reset" https://piccalil.li/blog/a-more-modern-css-reset/ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture,
video {
  max-width: 100%;
}

/* Layout */
body {
  background-color: #f3f7f9;
  font-family: 'Roboto', sans-serif;
}

/* Utility */
.container {
  width: 83%;
  /* 1208 пикселей - максимальная ширина, весь сайт по центру из макета */
  /* max-width: 75.5rem;  */
  margin: 0 auto;
}

/* Header */
.header__logo {
  max-width: 112px;
  height: 32px;
}

/* Секция Main */
.main {
  background-color: #4299e1;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  color: white;
}
.main__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.main__content {
  position: relative;
  z-index: 10;
}
.main__header {
  margin-bottom: 1rem;
}
.main__header-icon {
  font-size: 1.25rem;
}
.main__header-text {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 0.5rem;
}
.main__info {
  margin-bottom: 1.5rem;
}
.main__info-item {
  margin-right: 1rem;
  font-size: 0.875rem;
}
.main__info-icon {
  margin-right: 0.25rem;
}
.main__badge {
  background-color: white;
  color: #4299e1;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
}
.main__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.main__buttons {
  margin-bottom: 1rem;
}
.main__button {
  background-color: white;
  color: #4299e1;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}
.main__button--black {
  background-color: black;
  color: white;
}
.main__button--icon {
  display: flex;
  align-items: center;
}
.main__button-icon {
  margin-right: 0.5rem;
}
.main__logo {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 6rem;
  height: auto;
}

/* Программа курса - course+program */
.program {
  max-width: 42rem;
  margin: 0 auto;
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.program__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.program__section {
  margin-bottom: 1.5rem;
}

.program__section-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.program__section-icon {
  transition: all 0.1s ease-in;
  color: #40b526;
}

.program__section-icon--rotated {
  transform: rotate(-180deg);
}

.program__lectures--hidden {
  display: none;
}

.program__lecture {
  /* display: flex;
  align-items: center; */
  gap: 1rem;
}

.program__lecture-image-container {
  position: relative;
}

.program__lecture-video {
  border-radius: 0.5rem;
}

.program__lecture-icon {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program__lecture-lock-icon {
  font-size: 1.5rem;
}

.program__lecture-title {
  font-weight: 600;
}

.program__final {
  border: 1px solid #94a9b7;
  padding: 1rem;
  border-radius: 1.25rem;
}

.program__final-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.program__final-description {
  color: #6b7280;
  margin-bottom: 1rem;
}

.program__final-details {
  /* display: flex;
  align-items: center; */
  gap: 1rem;
}

.program__final-detail {
  /* display: flex;
  align-items: center; */
  gap: 0.5rem;
}

/* Оплата курса */
.course__payment {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 20rem;
  width: 100%;
}

.course__payment-heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.course__payment-info {
  color: #4b5563;
  margin-bottom: 1rem;
}

.course__payment-link {
  color: #40b526;
  text-decoration: none;
}

.course__payment-price {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.course__payment-button {
  background-color: #40b526;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-decoration: none;
}

.course__payment-button i {
  margin-right: 0.5rem;
}

.course__payment-promo {
  display: block;
  color: #40b526;
  text-align: center;
  text-decoration: none;
}

/* Спикеры */
.speakers__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* Спонсоры */
.sponsors__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* Партнеры */
.partners__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.partners__card {
  background: white;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  display: grid;
  place-items: center;
}
